@charset "utf-8";
/* CSS Document */

body {
	background-color: #373737;
	margin: none;
	padding: none;
}

nav#navigation-bar {
	position: absolute;
	display: inline;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
/*	background-color: #ECFOF1;*/
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: none;
	padding-bottom: 5px;
}

h1 {
	text-align: center;
	font-family: "Quicksand";
	font-size: 50px;
	color:white;
}

.table--recipe {
	margin: 0 auto;
	margin-top: 1%;

}
.table--item {
	border-style: dotted;
	border-color: white;
	padding: 2%;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;

}
.recipe--pic img{
	border-radius: 12%;
	width: 35vh;
}

.recipe--name {
	margin-left: 40%;
	margin-top:5%;
	font-size: 18px;
	font-family: "Open Sans";
	color: white;

}

.icon--wrap {
	margin-left: 15%;
}
.icon--wrap img{
	display: inline-block;
	float: center;
	margin-left: 15%;
	width: 18%;
	height: 19%;

}



a#logo {
	color: white;
	margin-top: 4%;
	font-size: 3em;
}

.icon {
	opacity: 1;
	height: 50%;
	width: 50%;
}

.icon:hover {
	opacity: 0.75;
}

.ranga {
	font-family:Raleway;

}

.mont {
	font-family: Montserrat, "sans-serif";
}